<h1>Compre sus Productos Aqui</h1>

<h2>Lista de Compras</h2>
<br></br>
<ul>
    {{#each Productos}}
    <li>
    {
      Product: {{this.title}},
      description: {{this.description}},
      Price: {{this.price}},
      thumbnail: {{this.thumbnail}},
      code: {{this.code}},
      stock: {{this.stock}},
      category: {{this.category}},
      Id: {{this.id}}
    }
    </li>
</ul>

{{!-- <input type="text" id="chatBox" placeholder="Ingrese un mensaje"/>
<button id="sendButton">Enviar mensaje</button>
<div id="chatHistory"></div> --}}

{{!-- <script src="socket.io/socket.io.js"></script> --}}
<script src="js/home.js"></script>